.clients{
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  padding: 90px 0px;
}

.title{
  font-size: 24px; 
  font-weight: 700;
  line-height: 28px;
  width: 40%;
  padding-right: 50px;
}

.logos{
  width: 60%;
  height: 40px;
}