.subscription{
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  width: 100%;
  padding: 80px 0;
}

.image {
  position: absolute;
  left: 0;
  height: 726.4px;
  overflow: hidden;
  border-radius: 0 20px 20px 0;
  width: calc(50% - 25px);
}

.contentL {
  width: 48%;
}

.contentR {
  width: 48%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  background-color: var(--primary-color);
  color: white;
  padding: 35px 40px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 40px;
}

.title1 {
  font-size: 23px; 
  font-weight: 700;
  text-align: center;
}

.title2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title21 {
  font-size: 80px; 
  font-weight: 700;
  width: 50%;
  text-align: right;
  line-height: 88px;
}

.title22 {
  font-size: 23px; 
  font-weight: 700;
  line-height: 23px;
  width: 50%;
}

.contentR form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 23px;
  width: 100%;
}

.contentR input{
  padding: 10px 25px;
  font-family: inherit;
  font-size: 17px; 
  font-weight: 700;
  border-style: none;
  border: 2.5px solid var(--secondary-color);
}

.contentR input::placeholder{
  color: var(--secondary-dark);
}

.contentR button{
  border: 3px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  font-family: inherit;
  font-size: 17px; 
  font-weight: 700;
  padding: 7px 0;
  cursor: pointer;
  width: 200px;
}

.contentR button:hover{
  border: 3px solid var(--primary-color);
  background-color: white;
  color: var(--primary-color);
}