:root {
  --max-width: 1130px;
  --minimum-width: 1100px;
  --border-radius: 12px;

  --primary-color: #5b4a7c;
  --secondary-color: #DEDBE5;
  --tertiary-color: #F6F6F6;
  --primary-dark: #53545b;
  --secondary-dark:#8E8E8D;
  --tertiary-dark:#9D9D9C;
  --overlay: rgba(0,0,0,.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}